## Getting and Knowing your Data

Będziemy realizować zadania z repozytorium Githuba: https://github.com/guipsamora/pandas_exercises Plik będzie zawierał rozwiązania do pliku 01_Getting_&_Knowing_Your_Data/Chipotle/Exercises.ipynb

## 1. Wczytywanie DataFrame'u z pliku zewnętrznego

In [1]:
import numpy as np
import pandas as pd

pd.options.plotting.backend = "plotly"  # do wyświetlania interaktywnych wykresów

## 2. Wczytanie danych

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

## 3. Przypisanie do zmiennej

In [3]:
df = pd.read_csv(url, sep = '\t')
df_csv = pd.read_csv('../data/chipo.csv')

## 4. Pierwsze 10 obserwacji

In [4]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

## 5. Ile obserwacji jest w zbiorze danych?

In [5]:
df.shape[0]  # sposób 1

4622

In [6]:
df.info()  # sposób 2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

## 6. Ilość kolumn

In [7]:
df.shape[1]

5

## 7. Pokaż nazwy kolumn

In [8]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

## 8. Pokaż indeksy

In [9]:
df.index

RangeIndex(start=0, stop=4622, step=1)

## 9. 10. Który produkt zamawiano najczęściej?

In [10]:
df_group = df.groupby('item_name')

In [11]:
df_group.sum()['quantity'].sort_values(ascending=False).head(1).to_dict()

{'Chicken Bowl': 761}

## Do dokończenia:

##  11. What was the most ordered item in the choice_description column?

## 12. How many items were ordered in total?

## 13. Turn the item price into a float

## 14. How much was the revenue for the period in the dataset?

## 15. How many orders were made in the period?

## 16. What is the average revenue amount per order?

## 17. How many different items are sold?

## Extra:

In [12]:
# sprawdzenie, co dzieje się z wartościami,
# których zakres wykracza poza zakres kodowania

df['test'] = np.repeat(10000,df.shape[0])

In [13]:
df['test'].astype('int8')  # są zamieniane na największą możliwą wartość

0       16
1       16
2       16
3       16
4       16
        ..
4617    16
4618    16
4619    16
4620    16
4621    16
Name: test, Length: 4622, dtype: int8

In [14]:
df.describe()  # jak sprawdzić podstawowe statystyki

          order_id     quantity     test
count  4622.000000  4622.000000   4622.0
mean    927.254868     1.075725  10000.0
std     528.890796     0.410186      0.0
min       1.000000     1.000000  10000.0
25%     477.250000     1.000000  10000.0
50%     926.000000     1.000000  10000.0
75%    1393.000000     1.000000  10000.0
max    1834.000000    15.000000  10000.0